// @import compass
@import 0-tools/_bootstrap-config
@import 0-tools/_mixins
@import 0-tools/_grid

@import 1-base/_variables
@import 1-base/_global
@import 1-base/_reset


@import 2-modules/_nav
@import 2-modules/_sliders
@import 2-modules/_React-Banners
@import 2-modules/_buttons
@import 2-modules/_banners

@import 3-layout/_forms
// @import 3-layout/_category
@import 3-layout/_account
@import 3-layout/_header
@import 3-layout/_homepage
// @import 3-layout/_blog
// @import 3-layout/_product-page
.example-appear 
  opacity: 0.01


.example-appear.example-appear-active
  opacity: 1
  transition: opacity .5s ease-in

.myClass
  
  cursor: pointer
  list-style-type: none
  padding-top: 1rem
  
  .children 
    display: none
    padding-left: 2rem
    
.items-container  
    padding: 0.4rem   
    color: black
    margin-bottom: 0.2rem
    display: inline-block
    

#controller-wrapper
    max-width: 600px
    margin: 0 auto
    font-size: 0.8rem
    
.open 
    background-color: white
    color: green
    
    
.items-container .fa 
    color: red
