=h-nav
	+clearfix
	list-style-type: none
	padding-left: 0px
	li 
		float: left
=v-nav	
	list-style-type: none
	li
		float: none	
=justify-nav
	ul
		list-style-type: none
	li
		display: table-cell

=placeholder
  &::-webkit-input-placeholder 
  	@content
  &:-moz-placeholder           
  	@content
  &::-moz-placeholder          
  	@content
  &:-ms-input-placeholder        
  	@content

=text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
